modules = ["nodejs-20"]
run = "npm run build && npm start"
hidden = [".astro", "dist", "node_modules", ".vscode"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "cloudrun"
build = ["npm", "ci", "&&", "npm", "run", "build"]
run = ["npm", "start"]
